#reusable_div{
    width:1400px;
     height:170px;
     margin:auto;
     /* border:"2px solid red"; */
     border: 1px solid red;
     box-sizing: border-box;
     border-radius: 10px;

}
img {
    width: "200px";
    height: "5";
}
#header_div{
    width:1400px;
     height:170px;
     margin:auto;
     border:1px solid red;
     font-weight: bold;
     border-radius:10px;
}
#content_div{
    height:90px;
    width:120px;
    border:5px solid red ;
    display:inline-block;
    margin-left: 50px;
    margin-top: 20px;
}
#new_content_div{
    margin:auto;
    vertical-align: center;
    text-align: center;
}
#reusable_h2{
    padding-left: 10px;
}
#reusable_p{
    padding: 10px;
}